/* team photo */
.team-photo {
    display: block;
    text-align: center;
    width: 100%;
}

.team-photo img {
    width: min(100%, 800px);
}

.team-photo .text {
    display: block;
    font-size: 12px;
    text-align: center;
}

/* mission li spacing change */
#mission li {
    padding: 10px 0;
}

/* team, volunteers panels */

.panel {
    position: relative;
    display: block;
    float: left;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
    
    margin: 0;
    font-size: 0;
    width: 25%;
    height: 300px;
    background-color: none;

    overflow: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;

    transition: 300ms;
}

.panel::-webkit-scrollbar {
    display: none;
}

.panel:hover {
    background-color: rgb(220, 220, 220);
}

.panel div.profile-pic {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 0;
    margin: 30px 0 0 0;

    width: min(80%, 200px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 100%;
}

.panel div.profile-pic::after {
    content: "";
    display: block;
    padding: 50% 0; /* coolest css hack */
}

.panel .pfp-title {
    position: relative;
    display: block;
    width: 80%;
    margin: 15px 10% 5px 10%;

    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.panel .pfp-desc{
    position: relative;
    display: block;
    width: 80%;
    margin: 5px 10% 30px 10%;

    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

th {
    border-bottom:rgb(136, 28, 28) solid 1px;
    padding: 10px 10px 5px 10px;
}

td {
    padding: 2px 20px;
}

tr {
    height: 65px;
}

/* profile picture src */
#pfp-0 {background-image: url("UMASO-logo-default.png")}
#pfp-1 {background-image: url("pfps/Jalal_Elsallal.jpeg");}
#pfp-2 {background-image: url("pfps/Ben_Kuchma.jpg");}
#pfp-3 {background-image: url("pfps/Nayrie_Patel.jpg");}
#pfp-4 {background-image: url("pfps/Larry_Jin.jpg");}
#pfp-5 {background-image: url("pfps/Jack_Guo.jpeg");}
#pfp-6 {background-image: url("pfps/Noah_Ford.jpg");}
#pfp-7 {background-image: url("pfps/Erin_Kim.jpg");}
#pfp-8 {background-image: url("pfps/Victor_Chen.jpeg");}
#pfp-9 {background-image: url("pfps/Ahmed_Saliev.JPG");}
#pfp-10 {background-image: url("pfps/Gian_Sabia.jpg");}
#pfp-11 {background-image: url("pfps/Elina_Chen.jpg");}
#pfp-12 {background-image: url("pfps/Divyesh_Biswas.jpg");}
#pfp-13 {background-image: url("pfps/Gideon_Tzafriri.jpg");}
#pfp-14 {background-image: url("pfps/Kiruba_Shalin.jpg");}
#pfp-15 {background-image: url("pfps/Robert_Li.jpg");}
#pfp-16 {background-image: url("pfps/Mari_Cornwall-Brady.jpg")}
#pfp-17 {background-image: url("pfps/Tiffany_Tan.jpg")}
#pfp-18 {background-image: url("pfps/Ellen_Chan.jpg")}
#pfp-19 {background-image: url("pfps/Felix_Manuel_Pantoja.jpeg")}
#pfp-20 {background-image: url("pfps/Tiffany_Zheng.jpeg")}
#pfp-21 {background-image: url("pfps/Trisha_Truong.JPG")}
#pfp-22 {background-image: url("pfps/Bhavya_Agarwal.jpeg")}
#pfp-23 {background-image: url("pfps/Felix_Chen.jpeg")}
#pfp-24 {background-image: url("pfps/Sruthi_Guntupalli.png")}
#pfp-25 {background-image: url("pfps/Zayya_Htut.png")}
#pfp-26 {background-image: url("pfps/Akshara_Nair.png")}
#pfp-27 {background-image: url("pfps/Penny_Reynolds.png")}

/* responsive */

@media only screen and (max-width: 800px) {

    /* reduce bullet indents in mission */

    #mission ul {
        padding-left: 18px;
    }

    /* box stacking in team, volunteer */

    .panel {
        width: 50%;
    }

}

@media only screen and (max-width: 500px) {

    /* box stacking in team, volunteer */

    .panel {
        width: 100%;
    }

}