/* mission */

.mission-statement {
    overflow: hidden;
    transition: height 0.4s ease-out;
}

#mission .full-width {
    padding: 0;
    margin: 0px 0px;
    border-radius: 20px;
}

#mission p {
    margin: 0 20px;
}

#mission-details {
    margin: 20px 40px;
}

/* .mission-statement .img-block h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.7);
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
} */

.mission-statement h1 {
    font-size: 40px;
}

#mission {
    margin-bottom: 20px;
}

#mission-toggle {
    margin: 0px auto;
    width: fit-content;
    color: black;
    transition: 0.2s;
    font-size: 20px;
    opacity: 1;
}

#mission-toggle.active {
    /* transform: fade(180deg); */
    /* opacity: 0; */
    transition: 0.2s;
    color: #ed5053;
}

.mission-statement ul {
    /* display: inline-block; */
    transition: 0.4s ease-out;
    margin-left: 20px;
    opacity: 0;
    max-height: 0;
    transition: 0.4s ease-out;
}

.mission-statement ul.active {
    opacity: 1;
    max-height: 500px;
    transition: 0.4s ease-in;
}

/* profiles menu buttons */

.profile-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
}

.profile-btns button {
    all: unset;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    background-color: white;
}

.profile-btns button:hover {
    background-color: #d9d8f9;
    cursor:pointer;
}

.profile-btns button.active {
    background-color: #a29ef1;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3), 0 1px 5px 0 rgba(0,0,0,0.29);
}

/* profile grid */
.profile {
    width: 150px;
    display: flex;
    opacity: 0;
    transition: 0.4s ease-in;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-flow: wrap; */
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.profile img {
    border-radius: 50%;
    pointer-events: none;
}

.profile h3 {
    font-weight: 500;
    margin-top: 10px;
}

.profile p {
    font-size: 14px;
}

.event-profile {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    align-content: flex-start;
}

.event-profile2 {
    /* width: 300px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    /* justify-content: center; */
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    align-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

.event-profile2 h1 {
    font-size: 24px;
    margin: 10px 0px;
}

.event-profile2 .event-title {
    flex: 0 0 40%;
    display: flex;
    justify-content: left;
    text-align: left;
    /* align-items: left; */
    padding: 20px;
}

.event-profile2 .ES-section,  .event-profile2 .TR-section{
    flex: 0 0 50%;
    display: flex;
    justify-content: right;
    flex-flow: wrap;
    flex-wrap: wrap;
}

.event-profile .ES-section, .event-profile .TR-section{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
}

.event-member {
    margin: 7px 5px;
    flex-flow: wrap;
    padding: 4px 7px;
    border-radius: 4px;
}

.ES-section .event-member {
    background-color: #f87f81;
}

.TR-section .event-member {
    background-color: #bab7f0;
}

.profile-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.profile-grid .hidden {
    display: none;
}

.profile-grid .visible {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .profile-btns button {
        padding: 7px 15px;
        margin: 0px 15px;
    }

    #mission-toggle {
        display: none;
    }

    .mission-statement ul {
        max-height: 500px;
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .profile-btns button {
        padding: 10px 20px;
        margin: 0px 20px;
    }

    /* .event-profile2 {
        width: 300px;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        flex-wrap: wrap;
        text-align: center;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        align-content: flex-start;
    } */
}