.full-width {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0px;
}

.img-block {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0px;
}

.img-block img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    transform: none;
}

/* shared styles for flexboxes */
.split-30-70, .split-70-30 {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    margin: 20px 0px;
    border-radius: 10px;
}

.split-30-70 img, .split-70-30 img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    transform: none;
}

.spaced-content {
    padding: 25px;
}

.spaced-content h2 {
    margin-bottom: 10px;
}

/* all split section */
.split-30-70 .left,
.split-30-70 .right,
.split-70-30 .left,
.split-70-30 .right {
    flex: 1 0 100%;
    border-radius: 10px;
    overflow: hidden;
    /* margin: 3px 0px; */
    order: 1;
}

.split-30-70 .left {
    box-shadow: 0 -2px 40px rgba(0,0,0, 0.6);
}

.split-70-30 .right {
    box-shadow: 0 -2px 40px rgba(0,0,0, 0.6);
}

/*smaller sections*/
.split-30-70 .left, .split-70-30 .right {
    order: 2;
}

.section-header {
    text-align: center;
    margin: 20px 0px 30px 0px;
}

/* small banner for about, tournament */

.small-banner {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.small-banner img {
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    transform: none;
    filter: brightness(50%);
}

.small-banner h1 {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

@media screen and (min-width: 768px) {
    .split-30-70, .split-70-30 {
        margin: 20px 0px;
    }

    .split-30-70 .left, .split-70-30 .right {
        flex: 0 0 42.5%;
        order: 1;
    }
    
    .split-30-70 .right, .split-70-30 .left {
        flex: 0 0 55%;
        order: 1;
    }

    .split-30-70 img, .split-70-30 img {
        height: 100%;
        max-height: 100%;
    }

    .spaced-content {
        padding: 40px;
    }
}