.full-width {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/* shared styles for flexboxes */
.split-30-70, .split-70-30 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px;
}

.spaced-content {
    padding: 20px;
}

/* 30-70 split section */
.split-30-70 .left {
    flex: 1 0 100%;
    background-color: #f0f0f0;
}

.split-30-70 .right {
    flex: 1 0 100%;
    background-color: #e0e0e0;
}

/* 70-30 split section */
.split-70-30 .left {
    flex: 1 0 100%;
    background-color: #e0e0e0;
}

.split-70-30 .right {
    flex: 1 0 100%;
    background-color: #f0f0f0;
}

@media screen and (min-width: 768px) {
    .split-30-70 .left, .split-70-30 .right {
        flex: 0 0 30%;
    }
    
    .split-30-70 .right, .split-70-30 .left {
        flex: 0 0 70%;
    }
}

.section-header {
    text-align: center;
    margin: 20px 0px 40px 0px;
}