/* general */

body, html {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    scroll-behavior: smooth;
}

.text {
    text-align: left;
    padding: 5px 0px;
    font-size: 18px;
}

span.description {
    display: block;
    width: 70%;
    padding: 20px 15%;
}

.title {
    text-align: left;
    padding: 15px 0;
    font-size: 36px;
    font-weight: 800;
    color: rgb(136, 28, 28);
    border-bottom: solid 3px gray;
}

.header {
    font-weight: 500;
    font-size: 24px;
    color: rgb(136, 28, 28);
    padding: 10px 0;
}

.text a {
    color: rgb(97, 94, 155);
    transition: 200ms;
}

.text a:hover {
    opacity: 80%;
}

.update-date {
    font-weight: 300;
    opacity: 60%;
    padding-top: 25px;
}

/* nav bar */

ul.mobile-nav {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    list-style-type: none;
    overflow: hidden;

    z-index: 1;
}

ul.mobile-nav li {
    display: hidden;
    width: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;
}

ul.mobile-nav li.extend-button {
    display: none;
    visibility: hidden;
    width: 100px;
}

ul.mobile-nav a {
    display: block;
    padding: 20px;
    text-align: center;

    text-decoration: none;
    color: white;
    font-size: 20px;

    transition: 100ms;
}

/* visual bug with unicode &#9776; fix */
ul.mobile-nav li.extend-button a {
    padding: 18.6px 20px;
}

ul.mobile-nav:hover li {
    background-color: rgb(33, 39, 33);
    width: 200px;
    transition: 500ms ease-in-out;
}

ul.mobile-nav:hover li.extend-button {
    background-color: rgb(136, 28, 28);
}

ul.mobile-nav li.extend-button:hover {
    cursor: pointer;
}

ul.mobile-nav li.main-button a:hover {
    background-color: rgb(136, 28, 28);
    transition: 100ms;
}

ul.nav {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(136, 28, 28);
}

ul.nav li {
    float: left;
}

ul.nav li.pad {
    display: block;
    padding: 20px 0 20px 15%;
}

ul.nav li.right {
    float: right;
}

ul.nav li a {
    display: block;
    text-align: center;
    padding: 20px;

    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 100ms;
}

ul.nav li a.logo {
    padding: 0px;
    font-size: 0;
}

ul.nav li img {
    height: 64px;
}

ul.nav li a:hover {
    opacity: 60%;
}

/* footer */

#content {
    display: block;
    min-height: calc(100vh - 54px);  /* definitely not trial and error */
}

#footer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 15%;
    list-style-type: none;
    overflow: hidden;
    font-size: 12px;
    background-color: rgb(33, 39, 33);
}

#footer li {
    float: left;
    padding: 20px 40px 20px 0;
    color: white;
}

#footer a {
    text-decoration: underline;
    color: white;

    transition: 100ms;
}

#footer a:hover {
    opacity: 50%;
}

/* nav bar collapse */ 

@media only screen and (max-width: 1000px) {

    ul.nav li a:not(.logo) {
        display: none;
    }

    ul.nav li.pad {
        padding: 20px 0 20px 20px;
    }

    ul.mobile-nav li.extend-button {
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-height: 500px) {

    ul.nav li a:not(.logo) {
        display: none;
    }

    ul.nav li.pad {
        padding: 20px 0 20px 20px;
    }

    ul.mobile-nav li.extend-button {
        display: block;
        visibility: visible;
    }
}

/* footer fix */

@media only screen and (max-width: 750px) {
    #footer li.privacy-pol {
        padding: 0 40px 20px 0;
    }
}

/* FOR ABOUT US, TOURNAMENT TABS NAV BAR */

/* tabs nav bar */

ul.tabs {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    width: 70%;
    margin-left: 15%;
}

ul.tabs li {
    float: left;
}

ul.tabs button {
    border: none;
    background-color: white;
    padding: 10px 0;
    margin: 0 20px 0 0 ;
    font-size: 18px;
    transition: 300ms;
}

ul.tabs button:hover {
    opacity: 50%;
    cursor: pointer;
}

.active {
    height: auto;
}

.hidden {
    height: 0;
    padding: 0;
}

ul.tabs button.nav-active {
    border-bottom: 2px solid rgb(136, 28, 28);
}

ul.tabs li button.nav-inactive {
    border-bottom: none;
}

/* sections */

#mission, #team, #volunteers, #details, #updates {
    display: block;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
}