/* general */

body, html {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
    scroll-behavior: smooth;
}

.text {
    text-align: left;
    padding: 5px;
    font-size: 18px;
}

/* "nav" bar */

ul.nav {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(136, 28, 28);
}

ul.nav li {
    float: left;
}

ul.nav li.pad {
    display: block;
    padding: 20px 0 20px 15%;
}

ul.nav li.right {
    float: right;
}

ul.nav li a {
    display: block;
    text-align: center;
    padding: 20px;

    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 300ms;
}

ul.nav li a.logo {
    padding: 0px;
    font-size: 0;
}

ul.nav li img {
    height: 64px;
}

ul.nav li a:hover {
    opacity: 80%;
}

/* footer */

#content {
    display: block;
    min-height: calc(100vh - 54px);  /* definitely not trial and error */
}

#footer {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 15%;
    list-style-type: none;
    overflow: hidden;
    font-size: 12px;
    background-color: rgb(33, 39, 33);
}

#footer li {
    float: left;
    padding: 20px 40px 20px 0;
    color: white;
}

#footer a {
    text-decoration: underline;
    color: white;

    transition: 100ms;
}

#footer a:hover {
    opacity: 50%;
}

@media only screen and (max-width: 750px) {
    #footer li.privacy-pol {
        padding: 0 40px 20px 0;
    }
}