.sponsor-image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 40px 0 20px 0;
    border-radius: 10px;
}

.sponsor-image-grid .grid-item {
    /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-image-grid .grid-item img {
    /* width: 100%; */
    /* height: auto; */
    max-height: 150px;
    max-width: 50%;
    display: block;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .sponsor-image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .sponsor-image-grid .grid-item img {
        max-width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .sponsor-image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .sponsor-image-grid .grid-item img {
        max-width: 80%;
    }
}