.hero-banner {
    position: relative;
    height: 70vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow-button-container {
    z-index: 1;
    color: white;
}

.slideshow-button button {
    position: absolute;
    height: 100%;
    background: none;
    width: 5%;
    border: none;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

.slideshow-button-container .slideshow-button button:hover {
    opacity: 1;
    cursor: pointer;
}

.left-button button {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
    left: 0;
}

.right-button button {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent);
    right: 0;
}

.slideshow-button span {
    position: absolute;
    top: 50%;
    z-index: 2;
}

.left-button span {
    left: 2%;
}

.right-button span {
    right: 2%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: none;
    transform: translateX(-100%);
}

.slide.initial {
    opacity: 0.5;
    transform: translateX(0);
    transition: none;
}

.slide.active {
    opacity: 0.5;
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.slide.previous {
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
    padding: 0 20px;
}

.hero-content .logo {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-content p {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content .cta {
    text-align: center;
    z-index: 1;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 4px;
    border: 2px solid #f0f0f0;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.5s ease;
    border-radius: 10px;
}

.hero-content .cta-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .hero-content {
        /* position: absolute;
        top: auto;
        bottom: 100px;
        left: 0;
        right: 0; */
        text-align: center;
        z-index: 1;
    }

    .hero-content .logo {
        width: 70%;
    }

    .hero-content .cta {
        text-align: center;
    }
}