main {
    padding: 5%;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    main {
        padding: 0 5%;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 10%;
        font-size: 17px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
}

/* #sponsors .sponsor-subtitle {
    color: #808080;
} */

/* #about .split-30-70 .left {
    background-color: #ed5053;
} */

/* #about .split-30-70 .right {
    background-color: rgb(136, 28, 28);
    background-color: #b82318;
    color: white;
} */

#about .split-30-70 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    color: white;
}

#tournament .split-70-30 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    color: white;
}

#about .split-30-70 h2 {
    color: #ff3a44;
}

/* #tournament .split-70-30 .left {
    background-color: white;
    color: rgb(136, 28, 28);
    color: #b82318;
}

#tournament .split-70-30 .right {
    background-color: #9674e1;
} */

#sponsors .full-width {
    background-color: rgb(136, 28, 28);
    background-color: #b82318;
    color: white;
}

#sponsors .full-width .sponsor-image-grid {
    background-color: white;
}

/* color scheme:
- red: #F5373B
- blue: #3C9FD9
- light gray: #f0f0f0
- gray: #e0e0e0 
- dark gray: #808080
- dark navy/purple: #15163B*/