* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-image: linear-gradient(#000000, #000000 20%,#15163B);
}

img {
    max-width: 100%;
    display: block;
}