* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    transition: none;
}

body {
    background-color: #000000;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

header, main, footer {
    margin: 0;
}