.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.navbar-content {
    width: 100%;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 3;
    max-height: 72px;
    background-color: black;
}

/* .navbar-content.active-menu {
    z-index: 3;
} */

.navbar-back {
    position: fixed;
    top: 0;
    left: 0;
    height: 0vh;
    width: 100%;
    z-index: 2;
    transition: 0.4s ease-in;
    background-color: black;
}

.navbar-back.active-menu {
    height: 100vh;
}

.navbar-logo {
    width: 50px;    
}

.navbar-links {
    transition: opacity 0s ease;
    height: 100%;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.navbar-links.hidden {
    opacity: 0;
}

.navbar-links.active-menu {
    height: 100vh;
    transform: translateY(40%);
    transition: transform 0s ease, opacity 0.4s ease 0.4s;
    opacity: 1;
}

.navbar-links ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 100%;
}

.navbar-links.active-menu ul {
    opacity: 1;
    font-size: 25px;
    height: 24vh;
    max-height: 200px;
}

.navbar-links ul.horizontal {
    flex-direction: row;
}

.navbar-links.active-menu ul.vertical {
    flex-direction: column;
}

.navbar-links ul li {
    margin: 5px 15px;
    height: 100%;
    text-align: left;
    white-space: nowrap;
}

.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-links ul li a:hover {
    transition: 0.4s ease;
    color: #d62121;
}

.navbar-toggle {
    cursor:pointer;
    user-select: none;
    width: 100%;
    position: relative;
    transition: 0.4s;
}

.navbar-toggle div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    border-radius: 2px;
    transition: 0.4s;
}

.active-menu #bar1 {
    transform: translate(0, 11px) rotate(45deg);
}

.active-menu #bar2 {
    opacity: 0;
}

.active-menu #bar3 {
    transform: translate(0, -11px) rotate(-45deg);
}

@media screen and (min-width: 1024px) {
    .navbar-links {
        transition: 0.4s;
    }

    .navbar-links ul {
        display: flex;
    }

    .navbar-content {
        width: 80%;
    }

    .navbar-toggle {
        opacity: 0;
        display: none;
    }

    .navbar-fade {
        display: none;
    }
}