/* mission */

.about-mission {
    margin-bottom: 20px;
}

.about-mission .title.full-width {
    padding: 0;
    margin: 0px 0px;
    border-radius: 20px;
    background-color: transparent;
    background-image: linear-gradient(transparent, white, white, white, white, white); /* eheheh ehhehehhhhhhehehe hhehehehhe -Larry */
}

.about-mission .mission-statement {
    overflow: hidden;
    transition: height 0.4s ease-out;
}

.about-mission .mission-statement p {
    margin: 10px 0px 0px;
}

.about-mission .section-title {
    margin-top: 10px;
    font-size: 30px;
}

.about-mission .mission-toggle {
    margin: 0px auto;
    width: fit-content;
    color: black;
    transition: 0.2s;
    font-size: 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.about-mission .mission-toggle:hover {
    cursor: pointer;
}

.about-mission .mission-toggle.active, .about-mission .mission-toggle:hover {
    color: #ed5053;
}

.about-mission .mission-details {
    position: relative;
    z-index: 1;
    margin-left: 20px;
    opacity: 0;
    max-height: 0;
    transition: 0.4s ease-out;
    margin: 10px 0px 10px 20px;
}

.about-mission .mission-details li {
    margin-top: 10px;
}

.about-mission .mission-details.active {
    opacity: 1;
    max-height: 500px;
    transition: 0.4s ease-in;
    margin-bottom: 20px;
}

/* profiles menu buttons */

.about-people .profile-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
}

.about-people .profile-btns button {
    all: unset;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    background-color: white;
}

.about-people .profile-btns button:hover {
    background-color: #d9d8f9;
    cursor:pointer;
}

.about-people .profile-btns button.active {
    background-color: #a29ef1;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3), 0 1px 5px 0 rgba(0,0,0,0.29);
}

/* profile grid */
.about-people .profiles {
    text-align: center;
}

.about-people .profiles h2 {
    margin-bottom: 25px;
}

.about-people .profile {
    width: 150px;
    display: flex;
    opacity: 0;
    transition: 0.4s ease-in;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-flow: wrap; */
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.about-people .profile img {
    border-radius: 50%;
    pointer-events: none;
}

.about-people .profile h3 {
    font-weight: 500;
    margin-top: 10px;
}

.about-people .profile p {
    font-size: 14px;
}

.about-people .event-profile {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    align-content: flex-start;
}

.about-people .event-profile2 {
    /* width: 300px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    /* justify-content: center; */
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    align-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

.about-people .event-profile2 h1 {
    font-size: 24px;
    margin: 10px 0px;
}

.about-people .event-profile2 .event-title {
    flex: 0 0 40%;
    display: flex;
    justify-content: left;
    text-align: left;
    /* align-items: left; */
    padding: 20px;
}

.about-people .event-profile2 .ES-section, .about-people .event-profile2 .TR-section{
    flex: 0 0 50%;
    display: flex;
    justify-content: right;
    flex-flow: wrap;
    flex-wrap: wrap;
}

.about-people .event-profile .ES-section, .about-people .event-profile .TR-section{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
}

.about-people .event-member {
    margin: 7px 5px;
    flex-flow: wrap;
    padding: 4px 7px;
    border-radius: 4px;
}

.about-people .ES-section .event-member {
    background-color: #f87f81;
}

.about-people .TR-section .event-member {
    background-color: #bab7f0;
}

.about-people .profile-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.about-people .profile-grid .hidden {
    display: none;
}

.about-people .profile-grid .visible {
    opacity: 1;
}

.about-mission .small-banner h1 {
    font-size: 40px;
}

.about-mission .title .small-banner{
    margin-bottom: 0px;
    padding: 0;
}

.about-mission .mission-statement {
    margin-top: 20px;
    background-image: none;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .about-people .profile-btns button {
        padding: 7px 15px;
        margin: 0px 15px;

    }

    .about-mission .mission-toggle {
        display: none;
    }

    .about-mission .mission-statement ul {
        max-height: 500px;
        opacity: 1;
    }

    .about-mission .mission-details {
        margin: 10px 30px;
    }
}

@media screen and (min-width: 1024px) {
    .about-people .profile-btns button {
        padding: 10px 20px;
        margin: 0px 20px;
    }

    .about-mission .mission-statement p {
        margin: 10px 0px 0px;
    }

    .about-mission .mission-details {
        margin: 10px 30px 40px;
    }

    .about-mission .small-banner h1 {
        font-size: 50px;
    }

    /* .event-profile2 {
        width: 300px;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        flex-wrap: wrap;
        text-align: center;
        margin: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 4px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        align-content: flex-start;
    } */
}