.full-width {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0px 0px;
}

.img-block {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0px;
}

.img-block img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    transform: none;
}

/* shared styles for flexboxes */
.split-30-70, .split-70-30, .split-50-50{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0px 0px;
    border-radius: 10px;
}

/**********************************************ADDED CSS*****************************************************************/
.split-50-50 .inner-div{
    background-color: #201b44;
    background-image: linear-gradient(45deg, #201b44, #655f92);
    color: white;
    width: 100%;
}
.split-50-50 .left,
.split-50-50 .right {
    flex: 1 0 50%;
    border-radius: 10px;
    overflow: hidden;
    /* margin: 3px 0px; */
    order: 1;
}
.accordion-item{
    --bs-accordion-bg:#201b44;
    --bs-accordion-btn-color: white;
	--bs-accordion-btn-bg: #201b44;
	--bs-accordion-active-color: violet;
	--bs-accordion-active-bg: #201b44;
    border-color: #655f92;
    outline: none;
}
.accordion-body, .accordion{
    background-color: #C772C7;
    color: #201b44;
}
.faq-question{
    margin-bottom: 1rem;
}
.faq-question h3{
    color: #C772C7;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 15px;
}
.faq-question p{
    margin-left: 2px;
    padding-left: 15px;
    border-left: 5px solid #E2B6E2;
    word-spacing: 3px;
    color: #F9F0F9;
    background-color: #676293;
    border-top-right-radius: 15px;
    padding: 10px;
}
.faq-question a{
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: #EEA6F2;
}
.border_everything{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 2rem;
    flex-basis: 50%;
}
.border_everything *{
    /* border: 1px solid red; */
    flex-basis: 50%;

}
.event-image{
    background-image: url('https://images.squarespace-cdn.com/content/v1/61e877d7287f1a21357d5b08/93edd94b-eee1-4b0a-80b0-dacbdbe9442c/flat-colorful-design-concept-for-assessment-infographic-idea-of-vector-id1089162344.jpeg');
    background-position: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    flex-basis: 50%;
    /* border: 1px solid gray; */
}
.event-memebers{
    text-align: left;
}
.event-memebers h3{
    color: #201b44;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    /* text-decoration: underline;
    text-underline-offset: 6px; */
}
.event-name {
    padding: 0.6rem 0rem;
}
.event-memebers hr{
    margin-top: 5px;
    border: 2.5px solid #201b44;
    /* color: #201b44;
    height: 5px; */
}
.event-memebers p{
    border-left: 5px solid #9F9DE9;
    padding: 0px 5px;
    margin-bottom: 5px;
}
.event-memebers a{
    color: rgb(174, 174, 174);
    margin-left: 1rem;
}
/**********************************************COMPLETED CSS*****************************************************************/

.split-30-70 img, .split-70-30 img {
    max-height: 300px;
    /* max-width: 100%; */
    width: 100%;
    object-fit: cover;
    /* transform: none; */
}

.spaced-content {
    padding: 25px;
}

.spaced-content h2 {
    margin-bottom: 10px;
}

/* all split section */
.split-30-70 .left,
.split-30-70 .right,
.split-70-30 .left,
.split-70-30 .right{
    flex: 1 0 100%;
    border-radius: 10px;
    overflow: hidden;
    /* margin: 3px 0px; */
    order: 1;
}

.split-30-70 .left {
    box-shadow: 0 -2px 40px rgba(0,0,0, 0.6);
}

.split-70-30 .right {
    box-shadow: 0 -2px 40px rgba(0,0,0, 0.6);
}

/*smaller sections*/
.split-30-70 .left, .split-70-30 .right {
    order: 2;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}

.split-30-70 .right, .split-70-30 .left {
    margin-bottom: 20px;
}

.section-header {
    text-align: center;
    margin: 20px 0px 30px 0px;
}

/* small banner for about, tournament */

.small-banner {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.small-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: none;
    filter: brightness(50%);
    
}

.small-banner h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
}

.small-banner .banner-img {
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    width: 100%;
    box-shadow: 0 -2px 20px rgba(0,0,0, 0.6);
    background-color: black;
    object-fit: cover;
}

/* .small-banner h3 {
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: 400;
} */

.three-column {
    display: flex;
    /* justify-content: center; */
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.three-column .column {
    flex: 1 1 0px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .split-30-70 .right, .split-70-30 .left {
        margin-bottom: 0px;
    }

    .split-30-70, .split-70-30 {
        margin: 30px 0px 0px;
    }

    .full-width {
        margin: 30px 0px 0px;
    }

    .split-30-70 .left, .split-70-30 .right {
        flex: 0 0 42.5%;
        order: 1;
    }
    
    .split-30-70 .right, .split-70-30 .left {
        flex: 0 0 55%;
        order: 1;
    }

    .split-30-70 img, .split-70-30 img {
        height: 100%;
        /* max-height: 380px; */
    }

    .spaced-content {
        padding: 40px;
    }

    .three-column {
        flex-direction: row;
    }

    .three-column .column {
        flex-direction: column;
    }
}

.split-30-70 p, .split-70-30 p, .full-width p {
    line-height: 22px;
    letter-spacing: 0.1px;
}

@media screen and (min-width: 1024px) {
    .split-30-70 h2, .split-70-30 h2, .full-width h2 {
        font-size: 30px;
        margin: 40px 0px 10px;
    }
}