@media screen and (min-width: 768px) {
    header {
        padding: 0%;
    }

    main {
        padding: 0 5%;
        font-size: 15px;
        background-image: linear-gradient(black, #171a54);
    }

    .footer {
        background-image: 
            linear-gradient(#171a54, #000000);
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 10%;
        font-size: 15.5px;
        background-image: 
            linear-gradient(to right, black 0%, transparent 7.5%, transparent 92.5%, black 100%),
            linear-gradient(black, #171a54);
    }

    .footer {
        background-image: 
            linear-gradient(to right, black 0%, transparent 7.5%, transparent 92.5%, black 100%),
            linear-gradient(#171a54, #000000);
    }

    .split-30-70 h2, .split-70-30 h2, .full-width h2 {
        font-size: 30px;
        margin: 10px 0px 10px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
}

.home-sponsors .sponsor-subtitle .blockspam {
    display: none;
}

.home-about .split-30-70 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    /* background-image: linear-gradient(-45deg, #201b44, #655f92); */
    background-image: linear-gradient(-45deg, #0f2640, #4f45aa 80%);
    color: white;
}

.home-tournament .split-70-30 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    background-image: linear-gradient(45deg, #201b44, #655f92);
    color: white;
}

.home-about .split-30-70 .left {
    background-image: url("/img/umass_fall.jpg");
}

.home-tournament .split-70-30 .right {
    background-image: url("/img/volunteer-min.png");
}

/* ******************************* ADDED CSS ************************************ */
.home-stats{
    display: none;
    /* background: #42275a;  
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  
    background: linear-gradient(to right, #734b6d, #42275a);  */

    /* background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */

    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%); */
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    color: white;
    text-align: center;
    margin: 20px 0px 0px;
    border-radius: 10px;
}
.stats-container{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem;
}
.single-stat{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
/* .single-stat:hover{
    color: #4f45aa;
} */
.stat-info{
    display: flex;
    flex-direction: column;

}
.stat{
    font-size: 3rem;
    font-weight: bold;
}
.stat-icon{
    border: 2px solid white;
    border-radius: 50%;
}
.stat-icon svg{
    width: 100px;
    height: 100px;
    padding: 20px;
}
.stat-icon svg:hover{
    color: white;
    /* background-color: #4f45aa; */
    /* border-radius: 50%; */
}
.stat-icon:hover{
    background-color: #4f45aa;
    border: 2px solid #4f45aa;
}
@media only screen and (max-width: 1000px) {
    .stats-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .single-stat{
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 520px) {
    .stats-container{
        display: block;
    }
    .single-stat{
        margin-bottom: 1rem;
    }
}

.home-announcements{
    display: none;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: white;
    margin: 20px 0px 0px;
    border-radius: 10px;
}
.announcement-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
}
.announcement{
    background-color: #4f45aa;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 20px;
}
.announcement-content{
    flex-basis: 50%;
}
.announcement-content p{
    /* font-size: 0.75rem; */
    margin-top: 0.5rem;
}
.announcement-image{
    background-position: center;
    background-size: cover;
    /* width: 50%; */
    flex-basis: 50%;

    height: 100%;
}
/* ******************************* END CSS ************************************ */


/* .home-tournament .split-70-30 h2 {
    color: white;
}

.home-about .split-30-70 h2 {
    color: white;
} */

.home-sponsors .full-width {
    /* background-color: #595481; */
    background-image: linear-gradient(45deg, #341a5a, #674489);
    color: white;
}

/* .home-sponsors .full-width h2 {
    color: white;
} */

.home-sponsors .full-width .sponsor-image-grid {
    background-color: white;
}


/* this is just not true lmao */
/* color scheme:
- red: #F5373B
- blue: #3C9FD9
- light gray: #f0f0f0
- gray: #e0e0e0 
- dark gray: #808080
- dark navy/purple: #15163B*/