@media screen and (min-width: 768px) {
    header {
        padding: 0%;
    }

    main {
        padding: 0 5%;
        font-size: 14.5px;
        background-image: linear-gradient(black, #171a54);
    }

    .footer {
        background-image: 
            linear-gradient(#171a54, #000000);
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 10%;
        font-size: 15px;
        background-image: 
            linear-gradient(to right, black 0%, transparent 7.5%, transparent 92.5%, black 100%),
            linear-gradient(black, #171a54);
    }

    .footer {
        background-image: 
            linear-gradient(to right, black 0%, transparent 7.5%, transparent 92.5%, black 100%),
            linear-gradient(#171a54, #000000);
    }

    .split-30-70 h2, .split-70-30 h2, .full-width h2 {
        font-size: 30px;
        margin: 10px 0px 10px;
    }
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    }
}

.home-sponsors .sponsor-subtitle .blockspam {
    display: none;
}

.home-about .split-30-70 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    /* background-image: linear-gradient(-45deg, #201b44, #655f92); */
    background-image: linear-gradient(-45deg, #0f2640, #4f45aa 80%);
    color: white;
}

.home-tournament .split-70-30 {
    /* background-color: #ed5053; */
    background-color: #201b44;
    background-image: linear-gradient(45deg, #201b44, #655f92);
    color: white;
}

.home-about .split-30-70 .left {
    background-image: url("/img/umass_pond.jpg");
}

.home-tournament .split-70-30 .right {
    background-image: url("/img/volunteer-min.png");
}

/* .home-tournament .split-70-30 h2 {
    color: white;
}

.home-about .split-30-70 h2 {
    color: white;
} */

.home-sponsors .full-width {
    /* background-color: #595481; */
    background-image: linear-gradient(45deg, #341a5a, #674489);
    color: white;
}

/* .home-sponsors .full-width h2 {
    color: white;
} */

.home-sponsors .full-width .sponsor-image-grid {
    background-color: white;
}


/* this is just not true lmao */
/* color scheme:
- red: #F5373B
- blue: #3C9FD9
- light gray: #f0f0f0
- gray: #e0e0e0 
- dark gray: #808080
- dark navy/purple: #15163B*/